$('.from_selection').empty();
<% @reference_lists_from.each do |reference_lists| %>
  $('.from_selection').append($('<option value="<%= reference_lists.id %>"><%= reference_lists.name %></option>'));
<% end %>