<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Estimado usuario: </p>
    <h1><%= @user.first_name%> <%= @user.last_name %>, </h1>  
    <p>
      El siguiente correo es para notificarle que su solicitud de de <%= @transfer.process_type.name %> ha sido rechazada 
      por Asuntos Profesorales.</p> 
    <p>Esto ddebido a un inconveniente presentado en sus documentos iniciales, 
    favor comunicarse con Asuntos Profesorales a la brevedad posible.</p>
    
    <p> Este correo es enviado automaticamente por el Sistema de Tramites Administrativos Docente (SISTRAMAD)</p>
    <p> No debe responder a este correo.</p>
  </body>
</html>

